body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("bg.png") center/cover;
    background-color: #bb13a640;
}

.container {
    text-align: center;
    padding: 20px;
}

.card {
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto; /* Simplificado para centralizar verticalmente */
    background-color: #bb13a640;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

/* Adicionado estilo para o contêiner da barra de pesquisa */
.barra-pesquisa {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1; /* O input ocupa todo o espaço disponível */
    padding: 13px;
    margin-right: -1px; /* Espaçamento entre o input e o botão */
    border: 1px solid #fff; /* Bordas brancas */
    border-radius: 4px 0 0 4px; /* Borda arredondada à esquerda */
    box-sizing: border-box;
    transition: none; /* Remove a transição */
}

input[type="text"]:focus {
    outline: none; /* Remove a borda ao ganhar foco */
    border: 1px solid #fff; /* Bordas brancas */
}

button {
    width: 50px; /* Largura fixa para o botão */
    padding: 14px;
    background-color: rgb(190, 0, 165);
    color: #ffffff;
    border: none;
    border-radius: 0 4px 4px 0; /* Borda arredondada à direita */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3f0137;
}

#mensagemErro,
#mensagemCarregamento {
    margin-top: 10px;
    color: #ffffff;
}

#cartaoClima h2,
#cartaoClima p {
    color: #ffffff;
}

#cartaoClima {
    text-align: left;
}

/* Media query para dispositivos menores */
@media only screen and (max-width: 600px) {
    .card {
        padding: 15px;
    }
}
